body {
    margin: 0;
}

.nav {
    text-align:left;
    background: #000;
    color: #fff;
    padding:  10px 10px 10px 30px;
    font-size:25px
    
}

.header__container--left{
    box-sizing: border-box;    
    width: 30%;  
    float: left;
    padding:  10px 10px 10px 20px;
    background-color: #CCD1D1 ;
    
}

ul li{
    list-style-type: square;
}
.header__container--right{
    box-sizing: border-box;
    width: 70%;
    float: right;
    padding:  10px 10px 10px 20px;
}

.header__container{
    overflow: hidden;
}

.footer{
    text-align: center;
    background: gray;
    color: #fff;
    padding: 5px;
}