

.flag {
	margin: 1em;
	height: 150px;
	width: 200px;	
	/* float: left; */
    border: 1px solid gray;
    position: relative;
}

.esp-1 {
    width: 100%;
    height:25%;
    background-color: red;
    float: left;
}

.esp-2 {
    width: 100%;
    height:50%;
    background-color: yellow;
    float: left;
}

.esp-3 {
    width: 100%;
    height:25%;
    background-color: red;
    float: left;
}


.emi-1{
    width: 25%;
    height:100%;
    background-color: red;
    float: left;
}

.emi-2{
    width: 75%;
    height: 33.3%;
    background-color:green;
    float: left;
}

.emi-3{
    width: 75%;
    height: 33.3%;
    background-color:white;
    float: left;
}

.emi-4{
    width: 75%;
    height: 33.3%;
    background-color:black;
    float: left;
}

.din-1{
    background-color:red;
    width: 30%;
    height: 40%;
    float: left;
}

.din-2{
    background-color:white;
    width: 5%;
    height: 40%;
    float: left;
}

.din-3{
    background-color:red;
    width: 65%;
    height: 40%;
    float: left;
}

.din-4{
    background-color:white;
    width: 100%;
    height: 5%;
    float: left;
}

.din-5{
    background-color:red;
    width: 30%;
    height: 55%;
    float: left;
}

.din-6{
    background-color:white;
    width: 5%;
    height: 55%;
    float: left;
}

.din-7{
    background-color:red;
    width: 65%;
    height: 55%;
    float: left;
}

.circulo {
    
    width:68px;
    height: 68px;
    border-radius: 50%;
    background-color: red;
    float: left;
    
    
    
}

.redondo {
    border-radius: 50%;
    background-color: red;
    float: left;

}
.jap-1{
    width: 33%;
    height:100%;
    background-color:white;
    float: left;
}

.jap-2{
    width: 67%;
    height: 27%;
    background-color:white;
    float: left;
}

