.articulo {
    /* border: 1px solid gray; */
    position: relative;
    display: block;
}



.etiqueta {
    position:absolute;
    width: 10%;
    /* border: 1px solid red; */
    top:170px;
    left: 150px;
    z-index: 3;
}

/* NO VENIA LA IMAGEN EN LOS ARCHIVOS DE APOYO */